<VirtualHost *:{{ jenkins_reverse_proxy_http_default_port }}>
	{% if jenkins_reverse_proxy_server_name != "" %}
	ServerName {{ jenkins_reverse_proxy_server_name }}
	{% endif %}
	RewriteEngine On
    LogLevel alert rewrite:trace2
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\"" combined
    CustomLog "|/usr/bin/rotatelogs /var/log/apache2/jenkins_%Y%m%d.log 86400" combined

    RewriteRule ^/$ http://{{ jenkins_host_ip }}:{{ jenkins_http_port }}/ [P]
    RewriteRule ^/(.*)$ http://{{ jenkins_host_ip }}:{{ jenkins_http_port }}/$1 [P]
    ProxyPassReverse / http://{{ jenkins_host_ip }}:{{ jenkins_http_port }}/
</VirtualHost>